.card.mb-3
  .card-header
    %h6 Domestic
  .list-group.list-group-flush
    = link_to Page::DOMESTIC, domestic_path, class: ['list-group-item list-group-item-action', ('active' if params[:action] == 'index')]
    = link_to "Domestic Fixtures / Ladders", Page::LINK_DOMESTIC_FIXTURES, class: ['list-group-item list-group-item-action']
    = link_to Page::DOMESTIC_UNIFORMS, uniforms_path, class: ['list-group-item list-group-item-action', ('active' if params[:action] == 'uniforms')]
.d-flex.justify-content-center.mt-4
  = link_to "Join Us", members_path, class: 'btn btn-lg btn-primary'
