.card
  %ul.list-group.list-group-flush
    = link_to "MUBC Membership", members_path, class: ['list-group-item list-group-item-action', ('active' if params[:action] == 'index')]
    = link_to "Sign up for #{Date.today.year}", join_the_club_path, class: ['list-group-item list-group-item-action', ('active' if %w{ new create mubc_account_details thankyou }.index(params[:action]))]
