.DS_Store
*.rbc
*.sassc
.sass-cache
capybara-*.html
.project
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/development_structure.sql
/db/structure.sql
/public/system/*
/public/uploads/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.byebug_history

/config/master.key
