.container
  - model_class = Member
  .pb-2.mt-2.mb-4.border-bottom
    %h1=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human, :default => "New #{model_class.model_name.human}")
  = render :partial => "form"
