%p
  Hi #{@member.name}

%p
  Your membership for Melbourne University Basketball Club is pending until you make the following bank transfer.
  
%p
  Please arrange to do so in the next 24 hours:  

%p
  Amount Due: $70
  %br
  Account Name: Melbourne University Basketball Club
  %br
  BSB: 033157
  %br
  Account Number: 178502
  %br
  * Reference: #{@member.reference}
  
%p
  * Use this 'Reference' entry in the 'reference' field of your bank transfer so we know where your money is coming from.  