<% if @sponsorship_page.present? %>
  <div class="text-muted small">Please take a moment to consider visiting some of MUBC's valued sponsors:</div>
    <%= @sponsorship_page.content.html_safe %>
<% end %>
