/= render partial: 'instagram_widget'
%br
= render partial: 'sponsors'

%ul.nav.nav-tabs
  %li.nav-item
    %a.nav-link.active{"aria-current" => "page", :href => "#"} Latest News
  %li.nav-item
    %a.nav-link{:href => archived_news_path} News Archive
  %li.nav-item
    %a.nav-link{:href => dribbling_balls_path} Newsletter Archive

.mt-3
  = render partial: 'news_items', locals: {news_items: @news_items}