.navbar-brand {
  max-height: 70px;
}

.navbar-dark {
  background-color: #24292e;
}


/* work-around for dissapearing navbar background color */
.navbar-nav li {
  background-color: #24292e !important;
}
