.tooltip {
  position:absolute;
  padding:10px;
  color:#EEE;
  background:rgba(0,0,0,0.6);
  text-align:center;
  z-index:9999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  behavior: url(/PIE.htc);
  max-width:500px;
}
