/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

$white: #FFFFFF;
$primary: #0000EE;
$navbar-padding-y: 0;
$navbar-brand-padding-y: 0;
$navbar-dark-color: rgba($white, 1);
$navbar-dark-hover-color: rgba($white, .5);
$navbar-dark-active-color: $white;
$navbar-dark-disabled-color: rgba($white, .25);
$card-columns-count: 4;
$font-size-base: 0.8rem;

@import "bootstrap";

@import "blocks/navbar";
@import "blocks/instagram-widget";
@import "blocks/youtube-widget";
@import "blocks/date-select";
@import "blocks/tooltip";
@import "blocks/alerts";

body {
  padding-top: 110px;
}

#page_content a:visited { color:#551A8B !important; }

.page_pdf{float:left; margin-right:15px;}
#pdf{float:none; margin:0px; width:80px; margin-left:40px;}

.news_item:not(:first-child) { padding-top:27px}
.news_item{clear:both;}
.news_item h4{margin-bottom:7px;}
.news_image_left{float:left; margin-right:15px;}
.news_image_right{float:right; margin-left:15px;}

.navbar{ background-image: linear-gradient(to bottom, #333, #000); background-repeat: repeat-x }

#topnav{height: 70px; border-left: 1px solid #333; border-right: 1px solid #000}
#topnav li{padding-top: 20px; padding-left:10px; padding-right: 10px; border-left: 1px solid #000; border-right: 1px solid #333}


#error_explanation{ color:#cc0000;border:1px solid #cc0000;background-color:#f3caca; padding: 10px; }
