h4, h5{margin:0px}
footer{margin: 0 15px}
.clear{clear:both}
.right{float:right; margin-left:15px}
.logo_brand{
  width: 180px;
  position:absolute;
  left:7px;
  top:0px;
  z-index:9999;
  padding: 0;
}
.logo_brand div{
  font-size:12px;
  font-weight:bold;
  line-height:120%;
  margin-top:10px;
}
h4 a{
  color:#333;
}
h4 a:hover{
  color:#0088cc;
  text-decoration:none
}

a:not(.btn) { color: #7a43b6 }
a.logo_brand, a.logo_brand:visited{
  color:white
}
.logo_brand:hover{
  color:blue;
  background-color:transparent;
  text-decoration:none;
}
.brand img {
  float:left;
  margin-right:7px;
}

.navbar .container{
  margin-left:180px;
}

#page_content{height:280px;}
.controls input[type='text'], .controls textarea{width:100%}

.form-actions{margin-top:0px}

.news_item:not(:first-child) { padding-top:27px}
.news_item{clear:both;}
.news_item h4{margin-bottom:7px;}
.news_image_left{float:left; margin-right:15px;}
.news_image_right{float:right; margin-left:15px;}
.page_image{float:right; margin-left:15px}

#bigv_champs{position:absolute; top:30px; right:10px; text-align:right; text-shadow: 0px -1px #000; color: #999}

/* Membership form page */
.payment_steps{list-style-type:none;}
.payment_steps li{float:left; padding-right: 30px;}
.payment_steps li.selected{font-weight:bold}

#account_transfer_details, #membership_fee .controls{margin-bottom: 20px; background-color:#eee; border-radius:7px; padding:10px;}

/* Membership BSB details */
#account_transfer_details{ margin-right:15px }
.confirmation .control-label{padding-top:0px}

/* Sortable tables from http://www.kryogenix.org/code/browser/sorttable/ */
table.sortable a.sortheader {
    color:black;
    text-decoration: none;
    display: block;
}
table.sortable span.sortarrow {
    color: black;
    text-decoration: none;
}
thead {
  background-color: rgb(192, 192, 192);
}
thead tr {
  text-align:left;vertical-align:top;
}
th {
  border-bottom: 1px solid;
}
#mubcTitles {
  border: 1px solid ; font-size:90%;
}
.btn-group{display:block} /* fixes the gender buttons on the signup form */

/* error messages */
#flash_notice, #flash_error{width:500px;padding:10px;margin:10px auto 35px auto;font-weight:bold;}
#flash_notice{margin-bottom:35px;color:#006600;border:1px solid #006600;}
#flash_notice{background-color:#99ff77}
#flash_error{color:#cc0000;border:1px solid #cc0000;background-color:#f3caca}

/* navbar styling */
@media (min-width: 700px)  {
  #topnav{margin-left:200px; border-left: 1px solid #333; border-right: 1px solid #000}
  #topnav li{border-left: 1px solid #000; border-right: 1px solid #333}
}
@media (max-width: 700px)  {
  #topnav{margin-top:30px;}
}
