= form_for @member, as: :member, url: confirm_paypal_purchase_member(@member), :html => { :class => 'form-horizontal' } do |f|
  .confirmation{style: "margin-left:50px"}
    #membership_steps.row
      .span12
        .form-actions{style: 'padding-left:0'}
          %ul.payment_steps#paypal_instructions
            %li
              %em Step 1:
              Enter Your Membership Details
            %li
              %em Step 2:
              Create or Login to your Paypal Account
            %li.selected
              %em Step 3:
              Confirm Payment
    
    .row
      .span12
        %p
          Great stuff, you're almost there!
        %p
          If you're happy with the details below, go ahead and hit the 'Confirm Payment' button to complete the transaction.
  
        .form-actions
          = f.submit "Submit", :class => 'btn btn-primary', id: 'submit_button'
