.confirmation{style: "margin-left:50px"}
  .row
    .col-md-12
      %p
        == Great stuff #{@member.given_name}, your $#{@member.amount_paid} payment has been processed and you are now a full member for #{Date.today.year}.
      %p
        See you at training!


  /= render partial: 'membership', locals: {member: @member}
